body{
    margin-top: 20px;
    align-items: center;
}
nav{
    background-color: blueviolet;
    padding: 50px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-weight: 500;
    margin-bottom: 50px;
}
img{
    width: 50%;
    height: 70%;
}